@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>

    :root {
        --bx-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        --border-color: #d8e3da;
    }

    .container-reg {
        margin: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }

    .reg-form {
        width: 400px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 20px;
        margin-top: 10px;
        box-shadow: var(--bx-shadow);
    }

    .btn {
        background-color: #3066be;
        border-color: #3066be;
        transition: all 0.3s ease-in-out;
    }

        .btn:hover {
            background-color: #119da4;
            border-color: #119da4;
        }

</style>




<div class="row">

    <div class="container-reg">

        <h1>Sign up!</h1>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="reg-form">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Register</button>
        </form>
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
