@page "/ide"
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="main-container">

    <h3 class="question-name">Question Name</h3>
    @*<div class="timer">Time left : @counter</div>*@


    <div class="top">

        <EditForm Model="@editor" OnValidSubmit="runCode" class="ide-container">

            <InputTextArea @bind-Value="@editor.Code" class="ide" spellcheck="false" />

            <div class="ide-btns">

                <button type="submit" class="btn btn-primary btn-sm">Run</button>
                <button type="submit" class="btn btn-success btn-sm">Submit</button>

            </div>

        </EditForm>

        <div class="question-container">

            <div class="question">

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </div>

            <div class="output">
                <p>Test 1 - OK</p>
                <p>Test 2 - OK</p>
                <p>Test 3 - OK</p>
                <p>Test 4 - OK</p>
                <p>Test 5 - OK</p>
                <p>100% PASSED</p>
            </div>

        </div>

    </div>

    <div class="bottom">
        <button class="btn btn-primary btn-md">Previous</button>
        <button class="btn btn-success btn-md">Next</button>
    </div>

</div>

@code {

    Editor editor = new Editor();
   
    private async Task runCode()
    {

        await HttpClient.PostAsJsonAsync("api/editor", editor);        
        NavigationManager.NavigateTo("/result");

    }

}
